* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    font-size: 2.25em;
    margin-bottom: 190px;
    text-align: center;
}

.section-container {
    overflow: hidden; 
}

.section {
    float: left;
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
    position: relative;
    color: #000;
}

.section_title {
    border: #000;
    color: #fff;
    text-align: right;
    padding: 20px;
    margin: -20px -20px 10px 80%;
    border: 2px solid black;
    background: grey;
    font-size: larger;
}

.section:nth-child(1) {
    background-color: #ff6347; 
}

.section:nth-child(2) {
    background-color: #4682b4; 
}

.section:nth-child(3) {
    background-color: #32cd32; 
}




@media (min-width: 992px) {
    .section {
        width: calc(33.33% - 20px); 
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .section {
        width: calc(50% - 20px);
    }
    .section:nth-child(3) {
        width: 100%;
    }
}


@media (max-width: 767px) {
    .section {
        width: 100%; 
    }
}
